<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" bootstrap="tests/bootstrap.php" colors="true" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd">
  <coverage processUncoveredFiles="true">
    <include>
      <directory suffix=".php">./src</directory>
    </include>
  </coverage>
  <testsuites>
    <testsuite name="ByTIC Test Suite">
      <directory>./tests</directory>
    </testsuite>
  </testsuites>
  <!-- Filter for coverage reports. -->
  <php>
    <ini name="memory_limit" value="-1"/>
    <ini name="error_reporting" value="-1"/>
    <!--
        <ini name="intl.default_locale" value="en"/>
        <ini name="intl.error_level" value="0"/>
        -->
  </php>
</phpunit>
